<ion-content class="background"></ion-content>
<ion-content class="viewer" #contentSpecify>
  <ion-card *ngFor="let post of redditpostsService.currentPostValue" style="border: 1px solid rgb(238, 255, 0);" id="{{post.data.id}}">
    <ion-card-content>
      <ng-container *ngIf="post.data.thumbnail.startsWith('https://')">
        <img [src]="preProccessImage(post.data.preview.images[0].source.url)" />
      </ng-container>
      <ion-label color="dark" style="font-size: large; font-weight: bold;">{{post.data.title}}</ion-label>
      <ion-button color="warning" expand="full" (click)="viewMore(post.data)">Ver mas</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>